@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

section {
  padding: 80px 12px;
}

.Toastify {
  padding: 0px 0px;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.section-title {
  font-size: 48px;
  color: var(--color-neutral);
  font-weight: 800;
  display: block;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.section-description {
  display: block;
  max-width: 600px;
  text-align: center;
  margin: 0 auto 20px;
  color: var(--color-base-content);
}

.bg-gradient {
  background: linear-gradient(to right, #4f39f6, #9514fa);
}

.btn {
  border-radius: 50px;
  padding: 8px 16px;
  border-width: 2px;
}

.btn-primary {
  background: linear-gradient(to right, #4f39f6, #9514fa);
  color: #ffffff;
  border-color: transparent;
}
.btn-primary:hover {
  box-shadow: 0px 0px 0px 4px #9689fc5f;
}

.btn-outline {
  background: #fff;
  border-color: #7923f8;
  color: #7923f8;
}
.btn-outline:hover {
  background: #7923f8;
  color: #ffffff;
}

nav ul li a:hover {
  color: var(--color-primary);
}

.badge {
  background-color: #e1e7ff;
  border-radius: 1000px;
  padding: 18px 12px;
  color: #622ff7;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #d0befe;
  position: relative;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #b77bfc;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #4f39f6, #9514fa);
  opacity: 0.8;
  width: 6px;
  height: 6px;
  border-radius: 100%;
}

.divider::before,
.divider::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.fade {
  opacity: 0;
  animation: fade-animation 0.2s linear forwards;
}
@keyframes fade-animation {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .section-title {
    font-size: 35px;
  }
}
